:root {
    --blue: #1892d5;
    --white: #ffffff;
    --orange: #f1b529;
    --light-orange: #fbcd15;
    --grey: #e3e9f0;
    --text-gray: #646565;
    --black: #1d1c1c; 
    font-size: calc(0.625rem + 0.4vw);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
}
.header {
    display: grid;
    grid-area: 1 / 2 / 2 / -1;
    grid-template: auto 1fr / 2fr 1fr;
    background: var(--white);
    padding: 0.8rem 2.8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    z-index: 1;
}
.sidebar {
    grid-area: 1 / 1 / -1 / -2;
    background: var(--blue);
    padding: 1.2rem;
    color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    z-index: 1;
}
.upperList, .lowerList {
    margin: 2.4rem 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.6rem;
}
.listLink {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 1.2rem 0;
}
.iconContainer {
    display: inline-block;
    width: 24px;
    padding: 0.4rem;
}
.link {
    text-decoration: none;
    color: var(--white);
}
.link:hover {
    text-decoration: underline;
}
/* header styles */
.searchBarContainer {
    display: flex;
    align-items: center;
}
.searchBar {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1.2rem;
}
.searchBar i {
    font-size: 1.4rem;
}
.searchInput {
    flex: 1;
    padding: .3rem;
    background-color: var(--grey);
    border: none;
    border-radius: 2rem;
    padding-left: 1rem
}
.profileSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.profileSection > i {
    font-size: 1.6rem;
    cursor: pointer;
}
.profilePicture {
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
}
.userName {
    cursor: pointer;
}
.greetingSection {
    display: flex;
    align-items: center;
    gap: .8rem;
}
.bigProfilePicture {
    height: 6rem;
    border-radius: 50%;
}
.buttonsContainer {
    display: flex;
    flex: 1.2rem;
    gap: 2rem;
    align-items: center;
}
.button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    font-weight: bold;
    width: 5.6rem;
    height: 2rem;
    border-radius: .4rem;
    cursor: pointer;
}
/* main content styles */
.mainContent {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: .8rem 2rem;
    gap: 1rem;
}
.projects {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.6rem;
    padding: 1rem 0;
}
.project {
    height: auto;
    background-color: var(--white);
    border-left: 8px solid var(--orange);
    border-radius: .4rem;
    padding: 2rem 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.descriptionContainer {
    min-height: 100px;
}
.projectDescription {
    color: var(--text-gray);
    font-size: .8rem;
}
.projectActions {
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
    margin-top: .8rem;
}
.projectActions > i {
    cursor: pointer;
}
.announcementsAndTrendingSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.6rem;
}
.announcements, .profiles {
    background-color: var(--white);
    padding: 1.6rem 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .4rem;
    margin-top: 1rem;
}
.announcementDescription {
    color: var(--text-gray);
    font-size: .6rem;
}
.separatorContainer {
    margin: .8rem 0;
}
.announcementSeparator {
    margin: auto 0;
}
.profileContainer {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: .8rem;
    margin: .8rem 0;
}
.profilePictureSmall {
    height: 2.8rem;
    border-radius: 50%;
}
.occupation {
    color: var(--text-gray);
}